.contacts {
    opacity: 1;

    margin: $large-gap 0 $large-gap 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;






    .contacts__info {
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        width: 90%;





        .grid__info {
            border-bottom: 1px solid black;
            word-wrap: break-word;
            padding-bottom: 10px;
            margin-top: $small-gap;

            h4 {
                letter-spacing: 2px;
                color: $color-font-light;
                margin-bottom: 5px;
            }

            p,
            a {
                font-weight: 100;
                font-size: map-get($font-size, size3);
                color: $color-font-light;
                transition: 0.3s ease;


            }

            A:hover {

                color: $color-5;
                transition: 0.3s ease;

            }
        }

        .grid__info:last-child {
            border-bottom: none;
        }
    }

    .contacts__map {
        width: 90%;
        height: 400px;

        margin: $medium-gap 0 $medium-gap 0;

    }

    .contacts__form {
        height: 100%;
        width: 90%;
        overflow: hidden;



    }
}

iframe {
    width: 100%;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    position: relative;



    .form-containers.explications-container {
        height: 112px;
    }

    .form-containers {

        display: flex;
        flex-direction: row;
        height: 40px;
        border: 1px solid $color-font-dark;



        .form__imgs {
            position: relative;
            width: 13%;

            background-color: darken($color-bg-dark, 20%);

            img {
                max-width: 25px;
                max-height: 25px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .form__required {
            padding-top: 7px;
            width: 7%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: darken($color-bg-dark, 20%);


        }



        label {
            max-width: 250px;
        }


        input,
        textarea {
            background-color: transparent;
            border: none;
            padding: 0px 5px;
            width: 80%;
            color: $color-font-light;
            font-size: map-get($font-size, basic) * 1.1;
            letter-spacing: 2px;

            &::placeholder {
                color: $color-font-light;
                opacity: 0.7;
                font-size: map-get($font-size, basic) * 1.1;
                letter-spacing: 2px;
            }


        }

        textarea {
            width: 100%;

        }

        &:nth-child(3)>input {
            width: 90%;
        }

        span {
            position: absolute;
            visibility: hidden;
            transition: 0.3s;
            font-size: 0.8rem;
        }

        p {
            display: none;
        }

        input,
        textarea {

            &:focus {
                border: $color-5 solid 1px;

                transition: 0.3s;
            }
        }

        //  to prevent default css with chrome autocomplete
        input:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 30px $color-bg-dark inset !important;
            -webkit-text-fill-color: white;
        }

        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 30px darken($color-bg-dark, 10%) inset !important;
            -webkit-text-fill-color: white;
        }

        input:hover {
            background-color: darken($color-bg-dark, 10%);
        }


        .error input {
            color: red;
        }

        .error span {
            color: red;
            visibility: visible;
            margin-bottom: 0px;
            opacity: 1;

        }
    }
}

input[type="submit"] {
    width: 100%;
    height: 20px;

    background-color: darken($color-bg-dark, 20%);
    cursor: pointer;
    margin: auto;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    border: none;

    &:hover {
        transform: translateY(-10%);
        transition: 0.3s;
    }
}

input[type="submit"].success {
    background-color: rgb(108, 161, 108);
    transition: 0.3s;
}

input[type="submit"].error {
    background-color: red;
    transition: 0.3s;
}