.nav__toggle {
    position: fixed;
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $color-bg-light;
    @include nav-position;
    z-index: 11;

    @media screen and (min-width: map-get($breakpoints, mobile)) {
        display: none;

    }

    .dots {
        position: absolute;
        height: 0.25rem;
        width: 0.25rem;
        background-color: $color-bg-dark;
        border-radius: 50%;
        left: 50%;
        top: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        transition: all 200ms;

        &:before {
            transition: all 200ms;
            @include dots;
            top: 10px;
        }

        &:after {
            transition: all 200ms;
            @include dots;
            bottom: 10px;

        }



        &.is-active {
            width: 1.90rem;
            border-radius: 3px;
            height: 0.20rem;
            background-color: transparent;


            &:before {


                top: 0px;
                transform: rotate(-45deg);

            }

            &:after {

                bottom: 0px;
                transform: rotate(45deg);




            }
        }
    }
}

.nav {
    position: fixed;
    @include nav-position;

    z-index: 10;

    &.hidden {
        z-index: -1;
        transition: z-index 2s;
    }







    .nav__menu {

        background-color: $color-bg-light;
        width: 100%;
        max-width: 17.5rem;
        min-width: 15.5rem;
        overflow: hidden;
        overflow-y: auto;
        transform: scale(0);
        transform-origin: right bottom;
        z-index: 10;
        transition: opacity 250ms, transform 250ms, -webkit-transform 250ms;
        border-radius: 0.5rem;

        @media screen and (min-width: map-get($breakpoints, mobile)) {
            background-color: transparent;
            min-width: 10rem;
            overflow: visible;

        }

        &.is-active {
            transform: scale(1);
            opacity: 1;

        }

        li {
            font-size: 20px;
            line-height: 1.2;
            padding: 0.75rem;
            padding-right: 0px;
            border-bottom: 1px rgba(0, 0, 0, 0.096) solid;
            position: relative;
            margin-right: 10px;



            @media screen and (min-width: map-get($breakpoints, mobile)) {
                text-align: right;
                border-bottom: none;

            }

            a {
                span {
                    opacity: 1;
                    color: $color-font-dark;
                    background-color: transparent;

                    @media screen and (min-width: map-get($breakpoints, mobile)) {
                        transform: scale(0);
                    }

                }

                @media screen and (min-width: map-get($breakpoints, mobile)) {
                    border-radius: 10px;
                    display: block;

                    &::after {
                        content: "";
                        width: 7px;
                        height: 7px;
                        background-color: $color-bg-light;
                        display: block;
                        position: absolute;
                        right: -20px;
                        top: 50%;
                        border-radius: 50%;
                        transform: translateY(-2px);
                        transition: all 0.2s;
                        transform-origin: center;
                    }

                    &:hover {
                        &::after {
                            transform: translateY(-2px) scale(1.7);
                            transition: all 0.2s;

                        }
                    }

                    span {
                        opacity: 0;
                        transition: all 0.2s;
                        color: $color-bg-dark;
                        margin: 0 auto;

                    }


                }
            }


            a.nav__active {
                @include menu-selected-state
            }



            &:hover {


                a.nav__active.hover {
                    @include menu-selected-state;
                    transition: all 0s;
                }

                .hover {


                    @media screen and (min-width: map-get($breakpoints, mobile)) {


                        transition: all 0.2s;

                        span {
                            color: $color-font-light;
                            padding: 2px 10px 2px 10px;
                            border-radius: 20px;
                            background-color: $color-bg-dark;
                            opacity: 1;

                            transition: all 0.2s;
                        }


                        &::after {

                            transition: all 0.2s;


                        }
                    }
                }
            }
        }

    }
}