.projects {
    overflow: scroll;
    overflow-y: visible;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    padding-left: $small-gap *0.8;
    padding-right: $small-gap *0.8;
    padding-bottom: 10px;
    margin-bottom: $large-gap;

    &::-webkit-scrollbar {
        height: 7px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: $color-bg-dark;
        margin-top: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $color-5;
        border-radius: 20px;

    }

    @media screen and (min-width: map-get($breakpoints, mobile)) {
        flex-wrap: wrap;
        width: 100%;
        max-width: 550px;
        margin: auto;
        overflow: hidden;
    }




    .projects__item {
        display: flex;
        flex: 1 0 auto;
        min-height: 400px;
        flex-direction: column;
        width: 95%;
        min-height: 450px;

        overflow: hidden;
        background-color: lighten($color-2, 47%);
        border-radius: 10px;
        margin-right: $small-gap;

        @media screen and (min-width: map-get($breakpoints, mobile)) {
            margin-bottom: $large-gap;
            margin-left: auto;
            margin-right: auto;

        }



        .projects__item__background {
            width: 100%;
            height: 300px;

            @media screen and (min-width: map-get($breakpoints, mobile)) {
                margin-bottom: $medium-gap;
                height: auto;

            }

            img {


                width: 100%;
                height: 100%;
            }
        }

        .projects__item__text {
            padding: $small-gap;
            width: 100%;
            min-height: 250px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            margin: auto;



            .projects__item__header {
                color: $color-5;

                margin-bottom: 10px;
            }

            .projects__item__tags {
                width: 100%;
                display: flex;
                flex-wrap: wrap;


                .projects__item__tag {
                    display: block;
                    border-radius: 25px;
                    border: $color-5 solid 1px;
                    color: $color-5;
                    padding: 2px 10px 2px 10px;
                    margin-right: 10px;
                    margin-bottom: 5px;
                    white-space: nowrap;
                    font-size: 14px;

                    @media screen and (min-width: map-get($breakpoints, mobile)) {
                        font-size: 18px;
                    }
                }
            }

            .projects__item__description {
                color: $color-font-dark;
                margin-top: 10px;
                white-space: normal;
            }

            .projects__item__link {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $color-5;
                width: 40px;
                height: 40px;
                border-radius: 100%;
                margin-right: 20px;
                float: left;
                margin-top: $small-gap;
                margin-bottom: $small-gap;
                cursor: pointer;

                @media screen and (min-width: map-get($breakpoints, mobile)) {
                    width: 55px;
                    height: 55px;
                }

                i {
                    font-size: 20px;
                    color: $color-font-light;
                    background-color: transparent;

                    @media screen and (min-width: map-get($breakpoints, mobile)) {
                        font-size: 25px;
                    }

                }

            }
        }
    }
}