.projects {
    overflow: scroll;
    overflow-y: visible;
    display: block;
    white-space: nowrap;
    position: relative;
    padding-left: $small-gap *0.8;
    padding-right: $small-gap *0.8;
    margin-bottom: $large-gap;



    .projects__item {
        display: inline-block;
        width: 90%;
        margin: auto;
        overflow: hidden;
        background-color: lighten($color-2, 47%);
        border-radius: 15px;
        margin-right: $small-gap;
        min-height: 420px;


        .projects__item__background {
            object-fit: contain;
            width: 100%;
        }

        .projects__item__text {
            padding: $small-gap;
            width: 100%;
            min-height: 250px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            margin: auto;

            .projects__item__header {
                color: $color-5;
                font-size: map-get($font-size, size2) *1.2;
                margin-bottom: 10px;
            }

            .projects__item__tags {
                width: 100%;
                display: flex;
                flex-wrap: wrap;

                .projects__item__tag {
                    display: block;
                    border-radius: 25px;
                    border: $color-5 solid 1px;
                    color: $color-5;
                    padding: 2px 10px 2px 10px;
                    margin-right: 10px;
                    margin-bottom: 5px;
                }
            }

            .projects__item__description {
                color: $color-font-dark;
                margin-top: 10px;
                white-space: normal;
            }

            .projects__item__link {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $color-5;
                width: 40px;
                height: 40px;
                border-radius: 100%;
                margin-right: 5px;
                float: left;
                margin-top: $small-gap;
                margin-bottom: $small-gap;

                i {
                    font-size: 20px;
                    color: $color-font-light;
                    background-color: transparent;

                }

            }
        }
    }
}