.about {
    padding-left: $small-gap *0.8;
    padding-right: $small-gap *0.8;
    margin-top: 150px;

    @media screen and (min-width: map-get($breakpoints, mobile)) {

        margin-left: 50%;
        margin-right: 50%;
        transform: translateX(-50%);
        width: 55%;
    }

    @media screen and (min-width: map-get($breakpoints, tablet)) {
        margin-top: 350px;
        margin-left: 50%;
        margin-right: 50%;
        transform: translateX(-50%);
        width: 70%;
    }

    ul {
        display: flex;
        flex-direction: column;

        .about__item {
            color: $color-font-light;
            padding-bottom: $medium-gap;
            position: relative;

            &:last-child {
                padding-bottom: 0;
            }

            &:nth-child(odd) {
                @media screen and (min-width: map-get($breakpoints, tablet)) {
                    margin-left: 60%;
                }
            }

            @media screen and (min-width: map-get($breakpoints, mobile)) {
                margin-bottom: $medium-gap;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            @media screen and (min-width: map-get($breakpoints, tablet)) {
                width: 40%;
            }

            .about__item__logo {
                width: 35px;

                @media screen and (min-width: map-get($breakpoints, mobile)) {
                    position: absolute;
                    left: -70px;
                    top: 3px;
                    width: 50px;
                }

            }

            .about__item__header {

                padding-bottom: $small-gap;
            }



            .about__item__images {
                width: 35px;
                margin-top: $small-gap;
                margin-right: 5px;
            }
        }
    }
}