.socials {
    li {
        margin-left: 5px;
        margin-right: 5px;
        font-size: 20px;


    }
}

.footer {
    .socials {
        position: relative;
        top: 0px;
        right: 0px;

        li {

            font-size: 20px;
        }
    }
}

main {
    .socials {
        z-index: 11;
        position: absolute;
        top: 85px;
        right: 20px;
        display: flex;

        @media screen and (min-width: map-get($breakpoints, tablet)) {
            right: 17%;

        }


        li {

            font-size: 25px;
        }
    }
}