.header {

    padding-top: $large-gap;
    padding-left: $small-gap *0.8;
    padding-right: $small-gap *0.8;
    flex-direction: column;
    display: flex;
    position: relative;

    @media screen and (min-width: map-get($breakpoints, mobile)) {
        margin: auto;
        width: 70%;
    }

    @media screen and (min-width: map-get($breakpoints, tablet)) {
        margin-bottom: $medium-gap;
    }


    &:before {
        -webkit-animation: header-appear 1s both;
        animation: header-appear 1s both;
        background-image: radial-gradient(circle closest-side, #39383D, $color-bg-dark);
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        margin-top: -50%;
        padding-top: 100%;
        z-index: -1;
    }

    .header__logo {
        opacity: 0;
        width: 150px;
        animation: fade-down ease-out 1500ms forwards;
    }

    h1 {
        color: $color-font-light;
        margin-top: $large-gap;

    }

    .header__title {
        opacity: 0;
        animation: fade-down ease-out 1500ms 500ms forwards;

        span {

            color: $color-2;

        }
    }


}