@import "./utils/settings";
@import "./utils/mixins";
@import "./utils/typography";
@import "./utils/animations";
@import "./components/navigation.scss";
@import "./components/headerAnim.scss";
@import "./components/skills.scss";
@import "./components/projects.scss";
@import "./pages/home";