@import "./utils/settings";
@import "./utils/mixins";
@import "./utils/typography";
@import "./utils/animations";
@import "./components/navigation.scss";
@import "./components/headerAnim.scss";
@import "./components/skills.scss";
@import "./components/projects.scss";
@import "./components/contacts.scss";
@import "./components/footer.scss";
@import "./components/socials.scss";
@import "./components/scrollToTop.scss";
@import "./pages/home";