@mixin dots {
    background-color: $color-bg-dark;
    border-radius: inherit;
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;


}

@mixin text-reveal {

    z-index: 5;
    overflow: hidden;


    p {
        transform: translateY(40px) rotate(20deg);
        transform-origin: left;


    }

    &.reveal {
        p {
            transform: translateY(0px) rotate(0deg);
            transition: transform 1000ms 500ms;

        }
    }

    &.second {

        p {

            transition: transform 1000ms 2000ms;
        }
    }
}

@mixin nav-position {
    bottom: 20px;
    right: 20px;
}


@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: map-get($breakpoints, tablet)) {
        @content;
    }
}