@font-face {
    font-family: "font-1";
    src: url(../../assets/fonts/playfairdisplay-black-webfont.woff) format('woff'), url(../../assets/fonts/playfairdisplay-black-webfont.woff2) format('woff2');
}



$font-1: "font-1",
sans-serif;


//maps
$font-size: (basic: 12px,
    size1: 26px,
    size2: 20px,
    size3: 16px,
    paragraph: 12px,
);
$breakpoints: (mobile: 600px,
    tablet: 1000px,
);
/*  -------------------- colors ---------------------- */
$color-1: #422612;
$color-2: #00d8ff;
$color-3: #ff8800;
$color-4:#D3FCD5;
$color-5: #ff4800;

$color-bg-dark: #18161a;
$color-bg-light: white;
$color-font-dark: black;
$color-font-light: white;
/*  -------------------- gaps ---------------------- */
$large-gap: 60px;
$medium-gap: 30px;
$small-gap: 15px;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
    border: none;
    text-decoration: none;
    color: $color-font-light;

}

html {
    scroll-behavior: smooth;
}

i {
    transition: all 0.2s;

    &:hover {
        color: $color-2;
        transition: all 0.2s;
    }
}

body {
    height: auto;
    max-width: 100%;
    overflow-x: hidden;
    margin: auto;
    background-color: $color-bg-dark;
}

main {
    position: relative;
    overflow: hidden;
    height: auto;
    width: 100%;

}

a {
    color: $color-font-dark;

    @media screen and (min-width: map-get($breakpoints, mobile)) {
        color: $color-font-light;
    }
}