@mixin dots {
    background-color: $color-bg-dark;
    border-radius: inherit;
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;


}

@mixin text-reveal {

    z-index: 5;
    overflow: hidden;

    p {
        transform: translateY(40px) rotate(20deg);
        transform-origin: left;

    }

    &.reveal {
        p {
            transform: translateY(0px) rotate(0deg);
            transition: all 1s;
        }
    }

    &.second {

        p {

            transition: all 1s 2s;
        }
    }
}